.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: end;
  padding-right: 10%;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: red;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: bisque;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.lyr-img {
  height: 100px;
  padding-left: 10%;
}
